@model IEnumerable<ProjetoAulaBackEnd.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imovel.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
