@model ProjetoAulaBackEnd.Models.Hospede

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://demo.haeckdesign.com/get-social-icon-set/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="icon" type="icon/ico" href="~/img/favicon-32x32.png">
    <link rel="stylesheet" href="~/components/css/card.css">
    <link rel="stylesheet" href="~/components/css/checkbox.css">
    <!-- <link rel="stylesheet" href="css/perfil_hospede.css"> -->    
    <link rel="stylesheet" href="~/css/stylepage.css">
    
    <!--links mantidos do Entity Framework-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="icon/ico" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/css/cadastro.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <title>Perfil do Hóspede | CarpeDiem</title>

</head>


<body class="bg-gray">
    
    <!-- topo -->
    
    <!--<section class="bg-gray flex ai-center j-between px-3 md-flex-wrap md-flex-col">

        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Logo_Final_382x148.png"></a>
    
        <div class="direct flex md-flex-col">
            <a href="fale_conosco2.html" class="p-1 m-1 t-black bold-7">Fale conosco</a>
        </div>         
        
    </section>-->

    <div class="container m-auto flex j-center p-3">

        <!-- banner -->
      <section>

            <div class="p-1 flex j-between ai-center p-3">

                <div class="flex ai-center gap-3 flex-wrap">
                    <div class="relative w-2 h-2">
                        <img src="~/img/usuario.jpg" class="rounded-full w-f">
                        <div class="absolute bottom right bg-blue-1 rounded-full">
                            <a asp-action="Edit" asp-route-id="@Model.IdHospede"><img width="50px" src="~/img/edit_note.png"></a>
                        </div>    
                    </div>  
    
                    <div>
                        <p class="bold-7 t-black font-size-32">@Html.DisplayFor(model => model.Nome)</p>
                        <p class="font-size-24">Sou Hóspede</p>
                    </div>
                </div>
                                
                <!--<div class="relative w-1 h-1 flex-center">
                    <a href="index_logado.html"><img src="~/img/svg/salvar.svg" width="64px"></a>
                </div>-->
            </div>   
            <br />

            
            <div class="flex flex-wrap j-center ai-center gap-3 mt-1 bold-7 t-black font-size-7">
                Perfil do Hóspede
            </div>
              
            <!-- dados do hóspede -->
            <br>
            <br>

            <main>
                <form asp-action="Details" class="w-f p-2" name="Cadastro">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdHospede" />
              
                    <div class="j-center ai-center">
                       <dl class="w-full">
                            <dt class = "w-full">
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="w-f input mb-3 mt-1" >
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                            <dt class = "w-full">
                                @Html.DisplayNameFor(model => model.CPF)
                            </dt>
                            <dd class = "w-f input mb-3 mt-1">
                                @Html.DisplayFor(model => model.CPF)
                            </dd>
                            <dt class = "w-full">
                                @Html.DisplayNameFor(model => model.DataDeNascimento)
                            </dt>
                            <dd class = "w-f input mb-3 mt-1">
                                @Html.DisplayFor(model => model.DataDeNascimento)
                            </dd>
                            <dt class = "w-full">
                                @Html.DisplayNameFor(model => model.Endereco)
                            </dt>
                            <dd class = "w-f input mb-3 mt-1">
                                @Html.DisplayFor(model => model.Endereco)
                            </dd>
                            <dt class = "w-full">
                                @Html.DisplayNameFor(model => model.Telefone)
                            </dt>
                            <dd class = "w-f input mb-3 mt-1">
                                @Html.DisplayFor(model => model.Telefone)
                            </dd>
                            <dt class = "w-full">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class = "w-f input mb-3 mt-1">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>
                    </div>                     
                 </form>                        

                      <!--
                      <div> 
                            <form method="post">
                               <label class="checkbox bold-7 t-black font-size-4"><input type="checkbox" name="TipoUsuario"><div class="checkbox-item"></div><span>Quero me tornar Anfitrião</span></label>
                            </form>
                      </div>
                      -->               
            </main>

            <br>
            <br>

            <div class="flex flex-wrap j-start ai-center gap-3 mt-1 p-1 bold-7 t-black font-size-6">
                Minhas Reservas
            </div>

            <section>                
                <div class="grid gap-3 grid-col-4 md-grid-col-2 sm-grid-col-1" id="cards_places">
                    <div class="flex-1 shadow-1"> 
                        <img class="w-f h-2 object-cover" src="~/img/hotel-1.jpg"> 
                         
                        <a class="bold-6 t-center p-1 t-black bg-blue-2" asp-area="" asp-controller="Imoveis" asp-action="Details">Detalhes</a>

                        <a href="editar_reserva.html" class="bold-6 t-center p-1 t-black bg-blue-2">Editar Reserva</a>

                        <a href="editar_reserva.html" class="bold-6 t-center p-1 t-black bg-blue-2">Cancelar Reserva</a>
                    </div>                    
                </div>                
            </section>        
           
        <section class="w-f py-2 flex j-end">
            <a class="" href="index.html">
                <img src="~/img/svg/sair.svg" width="64px">
            </a>
        </section>
    </div>   
        <div class="copyright p-2 t-center"></div>
        
    <script src="~/js/script_perfil.js"></script>
    <script src="~/js/copyright.js"></script>

</body>
</html>


<!--
<h1>Details</h1>

<div>
    <h4>Hospede</h4>
    <hr />
    <dl class="w-full">
        <dt class = "w-full">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="w-f input mb-3 mt-1" >
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "w-full">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "w-f input mb-3 mt-1">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "w-full">
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>
        <dd class = "w-f input mb-3 mt-1">
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
        <dt class = "w-full">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "w-f input mb-3 mt-1">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "w-full">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "w-f input mb-3 mt-1">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "w-full">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "w-f input mb-3 mt-1">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHospede">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>-->
