@model IEnumerable<ProjetoAulaBackEnd.Models.Imovel>

@{
    ViewData["Title"] = "Busca";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://demo.haeckdesign.com/get-social-icon-set/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/components/css/button.css">
    <link rel="stylesheet" href="~/css/stylepage.css">
    <link rel="icon" type="icon/ico" href="/img/favicon-32x32.png">

    <title>Resultado da Busca | CarpeDiem</title>
</head>


<body class="bg-gray">
    
    <!-- topo -->
    <section class="bg-gray flex ai-center j-end px-3 md-flex-wrap md-flex-col">        
        <div class="p-1 flex flex-col j-center ai-center ">
            <div class="relative w-1 h-1">
                <img src="~/img/usuario.jpg" class="rounded-full w-f">
                <div class="absolute bottom right bg-blue-1 rounded-full ">
                    <a href="perfil_hospede.html"><img width="30px" src="~/img/edit_note.png"></a>
                </div>
            </div>
            <!--<p>Ana Maria</p>-->
        </div>
    </section>

    <div class="container m-auto j-center p-3">

        <!-- banner -->
        <section>

            <div class="flex flex-wrap j-start ai-center gap-3 mt-1 bold-7 t-black font-size-7">
                Resultado da Busca
            </div>
            <!-- bloquinhos -->
            <br>
            <br>

            <div class="py-2 flex flex-wrap j-start ai-center gap-3 mt-1 bold-7 t-black font-size-6">
                Escolha seu Imóvel e Faça sua Reserva
            </div> 
    </div>

        <main>
            <section class="flex flex-wrap j-between gap-3 t-center">
                <img class="w-2 h-2 object-cover m-auto" src="~/img/detalhe-1.jpg">
                <img class="w-2 h-2 object-cover m-auto" src="~/img/detalhe-4.jpg">
                <img class="w-2 h-2 object-cover m-auto" src="~/img/detalhe-5.jpg">
                <img class="w-2 h-2 object-cover m-auto" src="~/img/detalhe-7.jpg">
                <img class="w-2 h-2 object-cover m-auto" src="~/img/detalhe-8.jpg">               
            </section>
            <br />

            <section class="j-center ai-center lado-lado">
                @foreach (var item in Model) {
                <dl class="w-full"> 
                    <div class="grid grid-col-4 md-grid-col-1 gap-3 py-2">
                        <dt class = "w-full">
                            @Html.DisplayNameFor(model => model.Cidade)
                        </dt>
                        <dd class = "w-f input mb-4 mt-1">
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </dd>

                        <dt class = "w-full">
                            @Html.DisplayNameFor(model => model.Bairro)
                        </dt>    
                        <dd class = "w-f input mb-4 mt-1">
                            @Html.DisplayFor(modelItem => item.Bairro)
                        </dd>

                        <dt class = "w-full">
                            @Html.DisplayNameFor(model => model.TipoEsp)
                        </dt> 
                        <dd class = "w-f input mb-4 mt-1">
                            @Html.DisplayFor(modelItem => item.TipoEsp)
                        </dd>

                        <dt class = "w-full">
                            @Html.DisplayNameFor(model => model.TipoAc)
                        </dt>
                        <dd class = "w-f input mb-4 mt-1">
                            @Html.DisplayFor(modelItem => item.TipoAc)
                        </dd>

                        <dt class = "w-full">
                            @Html.DisplayNameFor(model => model.ValorDiaria)
                        </dt>
                        <dd class = "w-f input mb-4 mt-1">
                            @Html.DisplayFor(modelItem => item.ValorDiaria)
                        </dd>
                    </div>                    

                    <div class="flex t-center j-center py-2">                        
                        <a class="btn btn-blue btn-effect w-5p m-5" asp-action="Details" asp-route-id="@item.IdImovel">DETALHES DO IMÓVEL</a>                        
                    </div> 

                    </dl>}

            </section>    
        </main>   

        <div class="copyright p-2 t-center"></div>        
        
        <script src="~/js/copyright.js"></script>
</body>
</html>





<!--
<h2>Resultado da Busca</h2>

<p>
    <h3>Escolha seu imóvel e faça sua reserva</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdeHospedes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdeCamas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdeQuartos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdeBanheiros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Academia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PET)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArCondicionado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Churrasqueira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cozinha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuchaExterna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elevador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estacionamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lareira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaquinaLavar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piscina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rampa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sauna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VistaMar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WiFi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanciaPraia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDiaria)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeHospedes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeCamas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeQuartos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeBanheiros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Academia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArCondicionado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Churrasqueira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cozinha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuchaExterna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elevador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estacionamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lareira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaquinaLavar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piscina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rampa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sauna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VistaMar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WiFi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanciaPraia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDiaria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdImovel">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdImovel">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdImovel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
