@model IEnumerable<ProjetoAulaBackEnd.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHospede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdeHospedes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHospede.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeHospedes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdImovel">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdImovel">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdImovel">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
